.mainMenu-container {
    background-color: transparent;
    padding:20px 0 0 20px;
}

.mainMenu-list{
    background-color: transparent;
    float: left;
}

.mainMenu-checkbox{
    background-color: transparent;
    white-space: nowrap;
    visibility: hidden;
}

.mainMenu-items {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.mainMenu-items a{
    margin-left:20px;
}

a{
    width: 100%;
}

.Menu-element{
    font-size: 1.2em;
    margin: 10px 20px 0 0;
    background-color: grey;
    color:white;
    white-space:nowrap;
    width:fit-content;

}

.Menu-element:hover {
    color:black;
}
.Menu-element a {
    display: None;
}

.Menu-element:hover a {
    color:black;
}

.Menu:hover .mainMenu-checkbox {
    visibility: visible;
}

.Menu-element a{
    display: none;
    color: white;
    text-decoration: none;
}

.Menu:hover .Menu-element {
    width: unset;
}