.logos {
    background-color: blue;
}

.image{
    width: 300px;
    height: 200px;
}

.moto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}